.btn {
    display: block;
    background-color: #ec644b;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all 0.5s;
    &_w160 {
        width: 160px;
        padding: 18px 23px;
    }
    &_w180 {
        width: 180px;
        height: 45px;
        padding: 18px 31px;
    }
    &_w230 {
        width: 230px;
        padding: 23px 44px;
        font-size: 15px;
        font-weight: 700;
    }
    &:hover {
        background-color: #dc5238;
    }
}
